NODE_ENV=production
PORT=3000

DATABASE_NAME=futbol
DATABASE_USER=postgres
DATABASE_PASSWORD=admin
DATABASE_HOST=db
DBPORT=5432
DATABASE_DIALECT=postgres

SESSION_SECRET=cambia-esta-clave-por-una-segura
